.pdf-graphics-wrapper {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  width: 100%; 
  height: 100%;
  overflow: hidden;
  grid-gap: 20px;
}
.pdf-graphics-item-wrapper {
  display: grid;
  grid-template-rows: 30px auto;
  align-items: center;
}