.property-prices-wrapper {
	display: grid;
	align-self: center;
	grid-gap: 5px;
	font-size: 0.8em;
	padding-left: 20px;
}
.property-prices {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.property-prices-number {
	border: 2px solid rgba(126, 126, 132, 1);
	border-radius: 5px;
	font-weight: 580;
	background-color: rgba(23, 23, 32, 1);
	text-align: center;
	display: grid;
	grid-template-columns: auto 20px;
	width: 100px;
}
.percentage-symbol {
	width: 20px;
	background-color: rgba(126, 126, 132, 1);
	color: rgba(23, 23, 32, 1);
	font-weight: 700;
	cursor: pointer;
}
.percentage-symbol:hover {
	background-color: rgba(126, 126, 132, 0.6);
	color: rgba(255, 255, 255, 1);
	font-weight: 550;
}