.pdf-header-wrapper {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	display: grid;
	grid-template-rows: min-content min-content;
	grid-gap: 10px;
}
.pdf-header-title {
	font-size: 1.6em;
	font-weight: 700;
	letter-spacing: 1.2px;
	padding-bottom: 5px;
}
.pdf-header-subtitle {
	font-size: 1.4em;
	font-weight: 600;
	letter-spacing: 0.8px;
}